html {
  font-size: 75%;
}

body {
  font-family: "Lato", sans-serif;
  text-align: center;
  background-color: $spotify-gray;
  color: $spotify-white;
}

.cta-button {
  padding: 1rem 1rem;
  font-size: $default-font-size;
  background-color: $spotify-green;
  color: $spotify-white;
  border-radius: 100px;
  border: none;

  &:disabled {
    opacity: 50%;
  }
}
