// THEME
$primary-colour: #316394;
$secondary-colour: #5e867b;
$secondary-colour-1: #fce9ce;
$tertiary-colour: #f5aca3;
$misc-colour: #b4cec7;

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
