#trackList {
  padding: 2rem 0;
  .container {
    display: flex;
    flex-direction: column;

    .row {
      display: flex;
      flex-direction: row;
      .col {
        a {
          color: inherit;
          text-decoration: none;
        }
      }
    }
  }
}
